// _variables.scss

// Define primary and secondary colors
$primary-color: #673AB7;   // Example primary color
$secondary-color: #EDE7F6; // Example secondary color

// Define text colors
$text-color: #989A9B;         // Example text color
$secondary-text-color: #666; // Example secondary text color
$dark-text-color: #34495e;
$light-text-color: #7f8c8d;
// Define background colors
$background-color: #F8FAFC; // Example background color

