@import "./variables";

.cart-page {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  min-height: 85vh;
  background-color: $white-color;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  .remove-icon {
    cursor: pointer;
    color: #ff4d4d;
    font-size: 1.2rem;
    transition: color 0.3s ease;

    &:hover {
      color: #e60000;
    }
  }
}

.cart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;

  h1 {
    font-size: 2rem;
    color: $primary-color;
  }

  .cart-summary {
    p {
      font-size: 1.25rem;
      font-weight: bold;
      color: $black-color;
    }
  }
}

// Table for DID numbers
.cart-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;

  th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }

  th {
    background-color: $primary-background-color;
    font-weight: bold;
    color: $black-color;
  }

  td {
    font-size: 1rem;
  }
}

// Buttons (reused class for both buttons)
.cart-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;

  button {
    padding: 12px 30px;
    background-color: $primary-color;
    color: $white-color;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s;

    &:hover {
      background-color: darken($primary-color, 10%);
    }
  }

  @media (max-width: 768px) {
    button {
      padding: 10px;
    }
  }

  @media (max-width: 480px) {
    display: flex;
    flex-wrap: nowrap; /* Ensure no wrapping */
    justify-content: space-between;

    button {
      width: 48%; /* Make buttons share the space equally */
      padding: 6px 12px; /* Decrease padding */
      font-size: 0.75rem; /* Decrease font size */
    }
  }
}

// Responsive styling
@media (max-width: 768px) {
  .cart-page {
    padding: 15px;
  }

  .cart-header {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;

    h1 {
      font-size: 1.5rem;
    }
  }

  .cart-summary {
    p {
      font-size: 1rem;
    }
  }

  .cart-table {
    td, th {
      font-size: 0.875rem;
      padding: 8px;
    }
  }

  .cart-actions {
    flex-direction: row;
    button {
      width: 48%; /* Keep the buttons in one line for medium-sized screens */
    }
  }
}

@media (max-width: 480px) {
  .cart-header h1 {
    font-size: 1.25rem;
  }

  .cart-summary p {
    font-size: 0.875rem;
  }

  .cart-table th, td {
    font-size: 0.75rem;
    padding: 5px;
  }
   .remove-icon{
    font-size: 1rem !important;
   }
  .cart-actions {
    button {
      padding: 6px 12px; /* Decrease padding for smaller buttons */
      font-size: 0.75rem; /* Decrease font size */
    }
  }
}
