@import "./_variables.scss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  overflow-x: hidden; // Prevent horizontal scrolling
}

.auth-page {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $white-color;
  z-index: 1000;
  padding: 20px;
  overflow: hidden; // Prevent page scrolling
}

.main-form {
  background: $white-color;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  max-width: 450px;
  width: 100%;
  text-align: center;
  max-height: 90vh; // Set a maximum height for the form
  overflow-y: auto; // Enable vertical scrolling within the form

  // Media query for small devices
  @media (max-width: 600px) {
    padding: 1.5rem 1rem;
    max-width: 100%;
  }
}

.error-summary {
  color: red;
  padding: 1rem;
  color: $red-color;
  text-align: left;
  margin-bottom: 1rem;

  p {
    margin-bottom: 0.5rem;
    font-weight: bold;
  }

  ul {
    padding-left: 1.2rem;
  }

  @media (max-width: 600px) {
    font-size: 0.8rem;
    max-width: 100%;
    ul {
      padding-left: 0.2rem;
    }
  }
}

h1 {
  font-size: 2rem;
  color: $primary-color;
  padding: 0 0 10px 0;

  @media (max-width: 600px) {
    font-size: 1.5rem;
  }
}

h6 {
  font-size: 0.9rem;
  color: $text-color;
  padding-bottom: 3rem;

  @media (max-width: 600px) {
    font-size: 0.75rem;
  }
}

.form-group {
  position: relative;
  margin-bottom: 1.5rem;

  input,
  select {
    width: 100%;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    background-color: $white-color;
    transition: border-color 0.3s;
    margin-top: 0.4rem;

    &:focus {
      border-color: $primary-color;
    }

    &:focus + label,
    &:not(:placeholder-shown) + label {
      top: -6px;
      font-size: 0.9rem;
      color: $primary-color;
    }

    @media (max-width: 600px) {
      padding: 0.75rem;
      font-size: 0.9rem;
    }
  }

  label {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    font-size: 1rem;
    color: $text-color;
    pointer-events: none;
    transition: 0.3s;

    @media (max-width: 600px) {
      font-size: 0.9rem;
    }
  }

  .error {
    color: $red-color;
    font-size: 0.875rem;
    margin-top: 0.5rem;
    text-align: left; // Align error message to the left

    @media (max-width: 600px) {
      font-size: 0.75rem;
    }
  }
}

.password-group {
  .toggle-password {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 1.2rem;
    color: $text-color;

    @media (max-width: 600px) {
      font-size: 1rem;
    }
  }
}

.form-options {
  display: flex;
  justify-content: flex-end;
  margin: 1rem 0;

  label {
    display: flex;
    align-items: center;

    input {
      margin-right: 0.5rem;
    }

    @media (max-width: 600px) {
      font-size: 0.85rem;
    }
  }

  a {
    color: $primary-color;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }

    @media (max-width: 600px) {
      font-size: 0.85rem;
    }
  }

  .error {
    display: block;
    margin-top: 0.5rem;
  }
}

.section-main {
  font-size: 0.9rem;
  color: $primary-color;
  cursor: pointer;
  margin-bottom: 1.5rem;
  text-align: left; // Align switch link to the left
  display: flex;
  flex-direction: column;

  @media (max-width: 600px) {
    font-size: 0.8rem;
  }

  .section-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
    background-color: $white-color;
    padding: 0.5rem;
    border-radius: 5px;
    margin-bottom: 0.5rem;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 1rem;

    @media (max-width: 600px) {
      padding: 0.4rem;
      font-size: 0.8rem;
    }

    &.expanded {
      color: $white-color;
    }

    &:hover {
      // background-color: lighten($primary-color, 30%);
    }
  }

  .section-content {
    display: none;
    border-radius: 5px;
    padding: 0.5rem 0;

    @media (max-width: 600px) {
      padding: 0.7rem 0;
    }

    &.expanded {
      display: block;
    }
  }
}

.switch-link {
  margin-top: 1rem;
  text-align: right;
  color: #555;

  a {
    color: $primary-color;
    text-decoration: none;
    transition: color 0.3s;

    &:hover {
      color: darken($primary-color, 10%);
    }

    @media (max-width: 600px) {
      font-size: 0.85rem;
    }
  }
}
