@import "./variables";

.container {
  padding: 20px;
  background-color: $white-color;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.table-container {
  width: 100%;
  overflow-x: auto;

  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    min-width: 600px;
    position: relative; // Add relative positioning to the table

    thead {
      position: sticky;
      top: 0;
      background-color: $primary-background-color; // Ensure the header background is solid
      z-index: 1; // Ensure the header stays above the table body
    }

    th,
    td {
      padding: 12px 15px !important;  // Slightly increased padding for better readability
      text-align: left;
      border-bottom: 1px solid #ddd;
      font-size: clamp(13px, 2vw, 16px) !important; // Responsive font size between 13px and 18px
    }

    th {
      font-size: 18px; // Adjusted font size for better readability
    }

    tr:hover {
      background-color: $secondry-background-color;
    }

    .avatar {
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }

    .status {
      &.active {
        // color: green;
        background-color: rgba(153, 224, 153, 0.277);
        color: green;
        font-weight: bold;
      }

      &.inactive {
        color: red;
        font-weight: bold;
      }

      &.pending {
        color: orange;
        font-weight: bold;
      }

      &.unknown {
        color: grey;
        font-weight: bold;
      }
    }
  }
}

.heading {
  margin-bottom: 20px;
  font-size: 28px; // Increased heading font size
  color: #333;
  text-align: center;
}

.loading,
.error {
  text-align: center;
  font-size: 20px; // Increased loading and error message font size
  color: #666;
}

.message {
  text-align: center;
}

// Media queries
@media only screen and (max-width: 768px) {
  .table-container {
    table {
      th,
      td {
        padding: 10px;
        font-size: clamp(14px, 2vw, 16px) !important; // Responsive font size between 12px and 14px for smaller screens
      }

      .avatar {
        width: 40px;
        height: 40px;
      }
    }
  }
}

@media only screen and (max-width: 480px) {
  .table-container {
    table {
      th,
      td {
        padding: 8px;
        font-size: clamp(12px, 2vw, 14px) !important; 
      }

      .avatar {
        width: 30px;
        height: 30px;
      }

      .heading {
        font-size: 24px; // Adjusted heading font size for small screens
      }
    }
  }
}
