@import"./variables";
// Loader.scss
.loader {
    position: fixed; // Ensures the loader is centered in the viewport
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column; // Arrange children in a column
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.7); // Semi-transparent background
    z-index: 9999; // Make sure it stays on top of other elements

    .loader-spinner {
        border: 8px solid #f3f3f3; /* Light grey */
        border-top: 8px solid $primary-color; /* Blue */
        border-radius: 50%;
        width: 60px; // Size of the spinner
        height: 60px; // Size of the spinner
        animation: spin 1s linear infinite; // Animation properties
    }

    .loader-text {
        margin-top: 10px; // Space between the spinner and the text
        font-size: 1.2rem; // Adjust the font size as needed
        color: $primary-color; // Color of the loading text
        font-weight: bold; // Make text bold for emphasis
    }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
