@import "./variables";

.loader-overlay {
    position: fixed;  // Position the loader on top of everything else
    top: 0;
    left: 0;
    width: 100vw;  // Full width
    height: 100vh;  // Full height
    background: white;  // Semi-transparent black background
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;  // Ensure the loader stays on top of all other elements
}

.loader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .loader-spinner {
        border: 8px solid #f3f3f3;  // Light grey
        border-top: 8px solid $primary-color;  // Blue
        border-radius: 50%;
        width: 60px;
        height: 60px;
        animation: spin 1s linear infinite;
    }

    .loader-text {
        margin-top: 10px;
        font-size: 1.2rem;
        color: $primary-color;
        font-weight: bold;
        text-align: center;  // Center text
    }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
