@import './Topbar.scss';
@import './Sidebar.scss';

body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    box-sizing: border-box;
}

.app {
    display: grid;
    grid-template-rows: 90px 1fr;
    grid-template-columns: 20% 80%;
    height: 100vh;

    @media (max-width: 768px) {
        grid-template-columns: 1fr;
        grid-template-rows: 70px auto; // Decreased top bar height
    }
}

.content {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    padding: 20px;
    background-color: #EEF2F6;
    border-radius: 10px 0px 0px 0px;

    @media (max-width: 768px) {
        margin: 0 10px 0 10px;
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        border-radius: 0;
    }
}
