@import "./_variables.scss";

.profile-page {
    .tabs {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        background-color: $secondary-color;
        border-radius: 5px;
        width: 100%;
        max-width: 1000px;
        margin: 0 auto 20px auto;
        color: $primary-color;

        .tab {
            cursor: pointer;
            padding: 10px 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: background-color 0.3s;
            border-right: 1px solid $primary-color;

            &:last-child {
                border-right: none;
            }

            &:hover,
            &.active {
                background-color: $primary-color;
                color: white;
            }

            svg {
                margin-right: 10px;
            }
        }
    }

    .profile-content {
        width: 100%;
        max-width: 1000px;
        margin: 0 auto;
    }
}

@media (max-width: 768px) {
    .profile-page {
        .tabs {
            grid-template-columns: repeat(3, 1fr); /* Adjust the number of tabs per row as needed */
            text-align: center;

            .tab {
                padding: 8px; /* Decrease padding */
                font-size: 0.8rem; /* Decrease font size */
                border-right: 1px solid $primary-color;

                &:last-child {
                    border-right: none;
                }

                &:hover,
                &.active {
                    background-color: $primary-color;
                    color: white;
                }

                svg {
                    margin-right: 5px;
                }
            }
        }
    }
}
