@import "./variables";

.sidebar {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    background-color: #FFFFFF;
    padding: 20px;
    height: calc(100vh - 90px); // Adjust height to consider the top bar height
    overflow-y: auto;
    padding-top: 20px; // Adjust top padding for heading
    z-index: 1;
    top: 10px;

    .sidebar-heading {
        font-size: 18px;
        font-weight: bold;
        color: black; // Use your primary color from variables
        margin-bottom: 10px; // Adjust spacing below heading
    }

    @media (max-width: 768px) {
        display: none;
        position: fixed;
        width: 70%;
        height: calc(100vh - 60px); // Adjust height to consider the top bar height
        background-color: #f8f9fa;
        top: 60px; // Start below the top bar
        padding: 10px; // Add padding
        transition: transform 0.3s ease;
        transform: translateX(-100%);

        &.active {
            display: block;
            transform: translateX(0);
        }

        .sidebar-heading {
            font-size: 16px;
            padding: 0 10px;
        }
    }

    @media (max-width: 480px) {
        width: 70%; // Adjust to 70% width for smaller devices
        height: calc(100vh - 60px); // Adjust height to consider the top bar height
        padding: 10px;

        .sidebar-heading {
            font-size: 14px;
            padding: 30px 10px 0px 5px;
            margin-bottom: 0;
        }
    }

    nav ul {
        list-style-type: none;
        padding: 0;

        li {
            padding: 15px 10px;
            margin: 5px 0;
            border-radius: 8px;
            cursor: pointer;
            display: flex;
            align-items: center;
            transition: background-color 0.3s ease, color 0.3s ease; // Smooth transition
            color: $text-color; // Use your text color from variables
            letter-spacing: 0.5px; // Add letter spacing

            &:hover,
            &.active {
                background-color: $secondary-color; // Use your secondary color from variables
                color: $primary-color; // Text and icon color on hover and active
            }

            .icon {
                margin-right: 10px; // Adjust icon spacing
                font-size: 18px; // Adjust icon size as needed
            }

            span {
                flex-grow: 1;
                padding-left: 10px; // Adjust text and icon spacing
            }
        }

        a {
            text-decoration: none;
            color: inherit; // Inherit color from li
            width: 100%; // Ensure NavLink takes full width
        }
    }

    @media (max-width: 768px) {
        nav ul li {
            padding: 12px 18px;
            font-size: 14px;
            margin-left: 10px;

            .icon {
                font-size: 16px;
                margin-right: 8px; // Adjust icon spacing
            }

            span {
                padding-left: 8px; // Adjust text and icon spacing
            }
        }
    }

    @media (max-width: 480px) {
        nav ul li {
            padding: 10px 5px;
            font-size: 12px;

            .icon {
                font-size: 14px;
                margin-right: 5px; // Adjust icon spacing
            }

            span {
                padding-left: 5px; // Adjust text and icon spacing
            }
        }
    }
}
