@import "./_variables.scss";

.tabs-component {
    .tabs {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        background-color: $secondary-color;
        border-radius: 5px;
        margin-bottom: 20px;
        color: $primary-color;

        .tab {
            cursor: pointer;
            padding: 10px 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: background-color 0.3s;
            border-right: 1px solid $primary-color;

            &:last-child {
                border-right: none;
            }

            &:hover,
            &.active {
                background-color: $primary-color;
                color: white;
            }

            svg {
                margin-right: 10px;
            }
        }
    }

    .tab-content {
        margin-top: 20px;
    }
}

@media (max-width: 768px) {
    .tabs-component {
        .tabs {
            text-align: center;

            .tab {
                padding: 8px;
                font-size: 0.8rem;
                border-right: 1px solid $primary-color;

                &:last-child {
                    border-right: none;
                }

                svg {
                    margin-right: 5px;
                }
            }
        }
    }
}
