@import './variables';

.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    background-color: #FFFFFF;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;

    .topbar-left, .topbar-right {
        display: flex;
        align-items: center;

        .icon {
            font-size: 30px;
            margin-right: 15px;
            cursor: pointer;
            color: $primary-color;
            background-color: $secondary-color;
            border-radius: 10%;
            padding: 5px;

            &:hover {
                background-color: $primary-color;
                color: #fff;
            }
        }

        .logo {
            font-size: 20px;
            font-weight: bold;
            margin: 0px 15px;
        }

        .hamburger-icon {
            display: none;
        }
    }

    .search-container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-grow: 1;

        .search-box {
            display: flex;
            align-items: center;
            border: 1px solid #ccc;
            border-radius: 4px;
            background-color: #F8FAFC;
            width: 100%;
            max-width: 500px;
            position: relative;

            .search-icon {
                position: absolute;
                left: 10px;
                color: $primary-color;
                font-size: 18px;
            }

            .search-input {
                flex-grow: 1;
                border: none;
                outline: none;
                padding: 20px 10px 20px 35px; // Add padding-left to accommodate the search icon
                border-radius: 4px; // Rounded corners
                background-color: #F8FAFC;
            }

            .filter-icon {
                color: $primary-color;
                margin-right: 10px;
                font-size: 18px;
                cursor: pointer;
               
            }
             
            .close-icon {
                color: $primary-color;
                margin-right: 10px;
                font-size: 18px;
                cursor: pointer;
                display: none;
            }
        }

        &.open {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 90px;
            background-color: white;
            z-index: 20;

            .search-box {
                width: 100%;
                padding: 0 20px;

                .close-icon {
                    display: block;
                }
            }
        }
    }

    @media (max-width: 768px) {
        height: 70px;

        .topbar-left {
            .icon {
                font-size: 25px;
                padding: 3px;
            }

            .hamburger-icon {
                display: block;
            }

            .mobile-search {
                display: block;
                font-size: 25px;
                cursor: pointer;
            }
        }

        .topbar-right {
            .icon {
                font-size: 25px;
                padding: 3px;
            }
        }

        .search-container {
            display: none;

            &.open {
                display: flex;
                height: 70px;

                .search-box {
                    height: 100%;
                    width: 100%;
                    padding: 0 10px;
                    border-radius: 0;

                    .search-icon {
                        font-size: 16px; // Decreased size for search icon on smaller devices
                        left: 10px;
                    }

                    .search-input {
                        padding-left: 30px;
                    }

                    .filter-icon, .close-icon {
                        font-size: 16px; // Decreased size for filter and close icons on smaller devices
                    }
                }
            }
        }
    }

    @media (min-width: 769px) {
        .mobile-search {
            display: none;
        }
    }
}
